h1 {
    color: rgb(68, 250, 241, 0.747);
    fill: 30px;
    padding-inline: 25px;
}
body {
    background-color: rgb(70, 170, 209);
}
.header{
    background-color: rgb(6, 131, 62);
    display: flex;
    justify-content: space-around;
}
.header *{
    border: solid;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 65px;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
a:link {
    color: red;
}
a:visited {
    color: purple;
}
.menu {
    margin-right: 30px;
    padding: 30px;
}
.menu a{
    margin-left:  10px; 
}
.item {
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.item:hover p{
    opacity: 1;
    color: rgb(211, 51, 39);
}
.item:hover img{
    opacity: 0.33;
}